body{
	background-color:white/*#900C3F*/;
	height:100%:;
	margin:0px;
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height:1.5;
}

h1,h2,h3,h4{color:#900C3F;margin-bottom:10px;}

img{
	z-index:0;
}
#menu{
	position:sticky;
	top:0;
	z-index:2;
}

#menu>ul {
	list-style-type: none;
	margin:0;
	padding-left:60px;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

li a {
	font-size: 20px;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
}

li a:hover {
	font-size: 20px;
	background-color: #111111;
}

#icon{
	position:absolute;
	margin-top:10px;
	margin-left:15px;
	height:40px;
	opacity:0.5;
	transition:0.5s;
}
#icon:hover{
	opacity:1;
	transform:scale(1.15);
}

#logo{
	background-image:url("images/ban1.jpg"), url("images/ban2.jpg");
	background-repeat:no-repeat;
	background-position:left, right;
	background-color:white;
	background-size:25%;
	text-align:center;
	padding:20px;
}
/****** PROFILS ******/
.profil{
	text-align:center;
	background-color:white;
}

.pdp{
	margin-top:25px;
	width:100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity:0.75;
}

.pdp:hover{
	opacity:1;
}

.col{
	display:inline-block;
	border-radius:25px;
	overflow:hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:20px;
}

.tab{
	text-align:center;
	margin:20px;
	margin-top:50px;
}

.mySlides{
	background-color:white;
	width:900px;
	margin:auto;
	margin-bottom:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:40px;
}

.mySlides > h1{
	color:#900C3F;
}

.mySlides > h2{
	color:#900C3F;
}

hr{
	margin-top:0px;	
	margin-left:0px;
	border-top:1px dotted #900C3F;
	width:50%;
}

hr#solo{
	width:75%;
	margin:auto;
}

/***** ACCUEIL ****/
.content{
	width:900px;
	margin:auto;
	margin-bottom:20px;
	padding:40px;
}

.content#home{text-align:center}

.liste>li{margin-bottom:15px;}