table {
	position:relative;
	width: 900px;
	border-collapse: collapse;
	margin-bottom: 20px; 
}

table, td, th {
  border: 1px solid black;
}

th, td {
	padding: 10px;
}

th, .sub-topic {
	background-color: #333333 !important;
	color: white;
	height: 25px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

.body{
	padding-top:40px;
	width: 905px;
	margin: auto;
}
hr{
	margin-top:0px;	
	margin-left:0px;
	border-top:1px dotted #900C3F;
	width:50%;
}