
#section
{
	display: flex;
	justify-content: space-around;
	/*flex-wrap: wrap;*/
	background : rgba(200, 202, 209,0.8);
	border: 5px double blue;
	color: firebrick;
	float:left;
	position:fixed;
	left:5px;
	width:200px;
}
#chat
{
	display: flex;
	flex-direction: column;
}
.chat
{
	display: block;
	width: 350px;
	height: 55px;
	font-size: 1.1em;
	border: 5px double black;
	border-radius: 5px 5px 5px 5px;
	word-wrap: break-word;
	margin: 10px;
	padding-left: 10px;
	padding-top: 5px;
	
}


#formulaire
{
	width: 500px;
	align-self: center;
	
}

table
{
	border-collapse: collapse;
	margin-bottom: 10px;

	
}

td
{
	border: 3.4px double black;
	padding: 10px;

}
